@import "_fonts.scss";
$brand-color: #1778c5;
$secondary-color: #fb6f18;
$text-color: #444444;
$secondary-text-color: #555555;
$base-font-size: 14px;
$base-font-family: 'Open Sans', sans-serif;
$base-header-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$base-menu-font-size:14px;
