@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* @include clearit
.button {
@include clearit
}
*/
/*Background cover*/
/* @include transition(all,2s,ease-out); */
/* CALC mining
  @include calc( width, '100% - 2px');
*/
/* Opacity(value:0.3) */
/* Background Overlay bg_overlay(color:#fff,value:0.3) */
/* @include breakpoint(sm);

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
/* @include breakpoint(sm);

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint_num($min: 200px, $max: 767px) {
    float: none;
    width: 100%;
  }
}

*/
/* transform rotate */
/*transform scale */
/* elipsis */
/* for retina image display */
@media (max-width: 600px) {
  .col-xxs {
    width: 100%; } }

body {
  color: #444444;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.714;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  min-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  letter-spacing: 0.5px; }

img {
  max-width: 100%; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #444444; }

a {
  display: inline;
  color: #1778c5;
  text-decoration: none;
  outline: none; }
  a:focus, a:visited {
    outline: none;
    text-decoration: none; }
  a:hover {
    color: #fb6f18;
    text-decoration: none;
    outline: none;
    text-decoration: none; }

/*==== Header Font Styling Css Open====*/
h1 {
  color: #fb6f18;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letterspacing: 1.6px; }

h2,
h3 {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.6px;
  font-weight: 400; }

h4,
h5,
h6 {
  font-weight: 400;
  color: #555555;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 700; }
  h1 a {
    color: #555555; }
    h1 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  font-weight: 700; }
  h2 a {
    color: #555555; }
    h2 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h2 {
      font-size: 28px;
      line-height: 1.2; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 24px;
      line-height: 1.3; } }

h3 {
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0 10px;
  position: relative;
  color: #555555; }
  h3 a {
    color: #444444; }
    h3 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h3 {
      font-size: 22px; } }

h4 {
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #555555;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.3;
  color: #555555;
  position: relative; }
  h4 a {
    color: #555555; }
    h4 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h4 {
      font-size: 18px; } }

h5 {
  letter-spacing: 1.6px;
  font-size: 12px;
  line-height: 1.33; }
  h5 a {
    color: #555555; }
    h5 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h5 {
      font-size: 10px; } }

h6 {
  letter-spacing: 6px;
  font-size: 10px; }
  h6 a {
    color: #555555; }
    h6 a:hover {
      color: #1778c5; }
  @media (max-width: 767px) {
    h6 {
      font-size: 9px; } }

/*==== Header Font Styling Css Close====*/
/*==== ul li listing Styling Css Open====*/
.natraj_listing ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }
  .natraj_listing ul li {
    padding-left: 12px;
    position: relative; }
    .natraj_listing ul li:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #1778c5;
      z-index: 3; }
  .natraj_listing ul ul {
    margin-left: 5px; }

/*==== ul li listing Styling Css Close====*/
/*==== Button Styling Css Open====*/
input[type="text"]:focus {
  color: #444444; }
input[type="text"].active, input[type="text"]:focus, input[type="text"]:visited {
  outline: none; }
input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ }
input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */ }
input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */ }
input[type="text"]:-moz-placeholder {
  /* Firefox 18- */ }

select {
  color: #444444; }

.view_all {
  display: inline-block;
  color: #444444;
  font-size: 14px;
  border-bottom: 1px solid #444444;
  letterspacing: 1.6px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .view_all:hover {
    color: #1778c5;
    border-color: #1778c5; }

.view_all_white {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  border-bottom: 1px solid #ffffff;
  letterspacing: 1.6px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .view_all_white:hover {
    color: #1778c5;
    border-color: #1778c5; }

.readmore {
  margin-top: 30px;
  display: inline-block;
  min-width: 170px;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 600;
  background: #1778c5;
  color: #ffffff;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05); }
  .readmore:focus, .readmore:hover {
    background: #fb6f18;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff; }

.readmore_transparent {
  margin-top: 30px;
  display: inline-block;
  min-width: 170px;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  color: #555555;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .readmore_transparent:focus, .readmore_transparent:hover {
    background: #1778c5;
    border-color: #1778c5;
    color: #ffffff; }

.readmore_text {
  margin-top: 15px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #1778c5;
  line-height: 1.7;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .readmore_text:focus, .readmore_text:hover {
    color: #fb6f18; }

/*==== Button Styling Css Close====*/
/* for flex center */
@media (min-width: 768px) {
  .flex-center {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center; } }

.section_title {
  margin-top: 0;
  margin-bottom: 20px; }

.section_title_desc {
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  color: #444444;
  line-height: 1.6;
  max-width: 600px; }
  .section_title_desc:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 70px;
    height: 2px;
    background: #1778c5;
    transform: translate(-50%, 0);
    -webikit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    z-index: 9; }

/*== Owl Carousel Css Open ==*/
ul.owl-carousel {
  margin: 0;
  padding: 0;
  list-style: none; }

.owl-carousel .owl-nav {
  display: none; }
.owl-carousel .owl-dots {
  display: none;
  text-align: center;
  zoom: 1; }
  @media (min-width: 579px) {
    .owl-carousel .owl-dots {
      display: block; } }
  .owl-carousel .owl-dots:after, .owl-carousel .owl-dots:before {
    content: "";
    display: table; }
  .owl-carousel .owl-dots:after {
    clear: both; }
  .owl-carousel .owl-dots .owl-dot {
    float: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #eaeaea;
    margin-right: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .owl-carousel .owl-dots .owl-dot:last-of-type {
      margin-right: 0; }
    .owl-carousel .owl-dots .owl-dot.active, .owl-carousel .owl-dots .owl-dot:hover {
      background: #1778c5; }
    .owl-carousel .owl-dots .owl-dot span {
      display: none; }

/*== Owl Carousel Css Close ==*/
.section_title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .section_title {
      font-size: 32px;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .section_title {
      font-size: 24px;
      margin-bottom: 20px; } }

h2 span.small {
  display: block;
  text-align: center;
  color: #777777;
  font-size: 50%;
  font-weight: 600;
  margin-bottom: 15px; }
  @media (max-width: 991px) {
    h2 span.small {
      font-size: 55%;
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    h2 span.small {
      font-size: 60%;
      margin-bottom: 5px; } }

/*== Topbar Css Open ==*/
.topbar_wrap {
  background: #1778c5; }
  .topbar_wrap .topbar_content {
    color: #ffffff;
    font-size: 10px;
    text-align: left;
    padding: 12px 0px;
    text-transform: uppercase;
    position: relative; }
    .topbar_wrap .topbar_content .left_top_content {
      display: block;
      text-align: center; }
      .topbar_wrap .topbar_content .left_top_content ul {
        list-style: none;
        margin: 0;
        padding: 0;
        zoom: 1; }
        .topbar_wrap .topbar_content .left_top_content ul:after, .topbar_wrap .topbar_content .left_top_content ul:before {
          content: "";
          display: table; }
        .topbar_wrap .topbar_content .left_top_content ul:after {
          clear: both; }
        .topbar_wrap .topbar_content .left_top_content ul li {
          float: left;
          margin-left: 5px; }
          .topbar_wrap .topbar_content .left_top_content ul li a {
            display: inline-block;
            color: #ffffff;
            line-height: 20px;
            text-align: center; }
            .topbar_wrap .topbar_content .left_top_content ul li a i.fa {
              margin-right: 3px; }
      @media (min-width: 768px) {
        .topbar_wrap .topbar_content .left_top_content {
          width: -moz-calc(100% - 110px);
          width: -webkit-calc(100% - 110px);
          width: calc(100% - 110px);
          text-align: left; }
          .topbar_wrap .topbar_content .left_top_content ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center; } }
    @media (min-width: 768px) {
      .topbar_wrap .topbar_content .right_top_social_content {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        -webikit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        z-index: 9; } }
    @media (max-width: 767px) {
      .topbar_wrap .topbar_content .right_top_social_content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .topbar_wrap .topbar_content .right_top_social_content select {
      background: transparent;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 14px; }
      .topbar_wrap .topbar_content .right_top_social_content select option {
        color: #222222; }

/*== Topbar Css Close ==*/
/* === Logo & Navigation  Css Open === */
/* === Logo & Navigation  Css Open === */
@media (min-width: 992px) {
  .logo_navigation_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #f2f2f2 !important; } }

.logo_navigation {
  background: rgba(255, 255, 255, 0.8); }
  .logo_navigation .navigation_bar {
    position: relative; }
    .logo_navigation .navigation_bar .logo h1 {
      margin: 0;
      padding: 15px 0px; }
      .logo_navigation .navigation_bar .logo h1 a {
        display: inline-block; }
        .logo_navigation .navigation_bar .logo h1 a img {
          max-width: 250px;
          max-height: 54px; }
        @media (max-width: 767px) {
          .logo_navigation .navigation_bar .logo h1 a {
            max-width: 200px; } }
    .logo_navigation .navigation_bar nav {
      position: absolute;
      top: 50%;
      right: 0px;
      z-index: 99999; }
      @media (min-width: 992px) {
        .logo_navigation .navigation_bar nav {
          transform: translate(0, -50%);
          -webikit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%); } }
      @media (max-width: 991px) {
        .logo_navigation .navigation_bar nav {
          position: static;
          background: #eaeaea; }
          .logo_navigation .navigation_bar nav #cssmenu > ul > li > a {
            padding-left: 15px;
            padding-right: 15px; } }
    .logo_navigation .navigation_bar #cssmenu #menu-button {
      position: absolute;
      top: -65px;
      right: 0;
      z-index: 999; }
      @media (max-width: 767px) {
        .logo_navigation .navigation_bar #cssmenu #menu-button {
          top: -60px; } }

/* === Logo & Navigation  Css Close === */
/*== Banner Slider Css Open ==*/
@media (max-width: 991px) {
  .banner_slider {
    margin-top: 0 !important; } }
.banner_slider .owl-carousel {
  position: relative; }
  .banner_slider .owl-carousel li {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    @media (max-width: 767px) {
      .banner_slider .owl-carousel li {
        min-height: 60vh; } }
    .banner_slider .owl-carousel li img {
      opacity: 0;
      width: 100%; }
    .banner_slider .owl-carousel li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #000000;
      opacity: 0.3; }
  .banner_slider .owl-carousel .owl-dots {
    position: absolute;
    margin-top: 0;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    -webikit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    z-index: 9; }
.banner_slider .banner_content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  -webikit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  z-index: 2; }
.banner_slider .banner_content_inner h2 {
  margin-top: 0;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700; }
  @media (max-width: 767px) {
    .banner_slider .banner_content_inner h2 {
      font-size: 24px; } }
.banner_slider .banner_content_inner h3 {
  font-size: 24px;
  color: #ffffff; }
  @media (max-width: 767px) {
    .banner_slider .banner_content_inner h3 {
      font-size: 18px; } }
@media (max-width: 767px) {
  .banner_slider .banner_content_inner .readmore {
    margin-top: 15px; } }

/*== Banner Slider Css Close ==*/
/*== About Us Section Css Open ==*/
.about_us {
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top; }
  .about_us .about_us_inner {
    position: relative; }
    .about_us .about_us_inner h2 {
      text-align: center;
      color: #1778c5;
      font-weight: bold;
      font-size: 40px;
      opacity: 0.8;
      text-transform: uppercase;
      line-height: 1.1; }
      @media (max-width: 767px) {
        .about_us .about_us_inner h2 {
          font-size: 24px;
          text-align: center; } }
      .about_us .about_us_inner h2 span.small {
        font-size: 60%;
        text-align: center;
        font-weight: bold;
        color: #fb6f18; }
        @media (max-width: 767px) {
          .about_us .about_us_inner h2 span.small {
            font-size: 70%;
            margin-top: 5px;
            text-align: center; } }
    .about_us .about_us_inner .about_us_content {
      position: relative; }
      .about_us .about_us_inner .about_us_content .about_us_desc {
        max-width: 767px;
        margin: 30px auto;
        text-align: center; }

.about_us_desc {
  margin-top: 30px; }

/*== About Us Section Css Close ==*/
/*== Abroad Studies Section Css Open ==*/
body.home .abroad_studies {
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: #f2f2f2; }

.abroad_studies h2.section_title {
  color: #1778c5; }
  .abroad_studies h2.section_title span {
    color: #fb6f18; }
.abroad_studies ul.row {
  padding: 0;
  margin: 0;
  margin-left: -7.5px;
  margin-right: -7.5px;
  list-style: none; }
  .abroad_studies ul.row li {
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px; }
    .abroad_studies ul.row li a {
      display: block;
      position: relative;
      overflow: hidden; }
    .abroad_studies ul.row li figure {
      display: block;
      background-repeat: no-repeat;
      backgroun-position: center center;
      background-size: cover;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .abroad_studies ul.row li figure img {
        opacity: 0;
        width: 100%; }
    .abroad_studies ul.row li h4 {
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      background: rgba(22, 119, 196, 0.9);
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      min-height: 0%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      @media (max-width: 767px) {
        .abroad_studies ul.row li h4 {
          font-size: 14px; } }
    .abroad_studies ul.row li a:hover figure {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .abroad_studies ul.row li a:hover h4 {
      min-height: 100%;
      background: rgba(250, 110, 23, 0.9); }

/*== Abroad Studies Section Css Close ==*/
/*== Test Preparation Classes Css Open ==*/
.test_preparation {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
  position: relative; }
  .test_preparation:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fb7019;
    background: -moz-linear-gradient(left, #00e0ce 0%, #2989d8 85%, #2989d8 100%, #00acc9 100%, #2989d8 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #fb7019 0%, #2989d8 85%, #2989d8 100%, #e05f0e 100%, #2989d8 100%, #2989d8 100%);
    background: linear-gradient(to right, #fb7019 0%, #2989d8 85%, #2989d8 100%, #fb7019 100%, #2989d8 100%, #2989d8 100%);
    opacity: 0.8; }
  .test_preparation .test_preparation_heading {
    text-align: center;
    position: relative;
    z-index: 9; }
    .test_preparation .test_preparation_heading h2 {
      color: #ffffff; }
      .test_preparation .test_preparation_heading h2 span {
        color: #ffffff; }
  .test_preparation .test_preparation_list {
    position: relative;
    z-index: 9;
    text-align: center; }
    .test_preparation .test_preparation_list ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      zoom: 1; }
      .test_preparation .test_preparation_list ul:after, .test_preparation .test_preparation_list ul:before {
        content: "";
        display: table; }
      .test_preparation .test_preparation_list ul:after {
        clear: both; }
      .test_preparation .test_preparation_list ul li {
        display: inline-block;
        margin: 7px 5px; }
        .test_preparation .test_preparation_list ul li span {
          display: block; }
          .test_preparation .test_preparation_list ul li span img {
            height: 100px; }

/*== Test Preparation Classes Css Close ==*/
/*== BLog Section Css Open ==*/
.blog_section {
  background: #f2f2f2;
  overflow: hidden;
  padding: 50px 0px; }
  .blog_section h2.section_title {
    color: #1778c5; }
    .blog_section h2.section_title span {
      color: #fb6f18; }
  .blog_section ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .blog_section ul li.blog_list .blog_image_column .blog_image figure {
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      overflow: hidden; }
      .blog_section ul li.blog_list .blog_image_column .blog_image figure a {
        display: block;
        position: relative; }
        .blog_section ul li.blog_list .blog_image_column .blog_image figure a:hover:after {
          background-color: rgba(137, 24, 48, 0.7);
          background-size: 50px; }
        .blog_section ul li.blog_list .blog_image_column .blog_image figure a:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 11;
          background-image: url(../img/paper-plane.svg);
          background-position: center center;
          background-size: 0;
          background-color: rgba(0, 0, 0, 0);
          background-repeat: no-repeat;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        .blog_section ul li.blog_list .blog_image_column .blog_image figure a img {
          width: 100%;
          opacity: 0; }
    .blog_section ul li.blog_list .blog_image_column time {
      display: block;
      font-weight: 300;
      letter-spacing: 2px;
      color: #999999;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 5px; }
    .blog_section ul li.blog_list .blog_image_column .blog_content_desc {
      margin-top: 0px;
      overflow: hidden; }
      @media (min-width: 768px) {
        .blog_section ul li.blog_list .blog_image_column .blog_content_desc {
          height: 69px; } }
      .blog_section ul li.blog_list .blog_image_column .blog_content_desc p {
        margin: 0;
        padding: 0; }
    .blog_section ul li.blog_list .blog_image_column a.readmore_text {
      text-transform: uppercase;
      font-weight: 700; }
    .blog_section ul .owl-dots {
      display: none; }
  .blog_section .blog_post_viewall {
    text-align: center; }

/*== BLog Section Css Close ==*/
/*== Our Services Section Css Open ==*/
.our_services {
  overflow: hidden;
  padding-bottom: 20px;
  background: #ffffff; }
  .our_services ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
    .our_services ul li {
      list-style: none;
      margin-bottom: 15px; }
    .our_services ul .services_list .services_image_column {
      text-align: center;
      border: 1px solid #f0f3f9;
      padding: 15px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .our_services ul .services_list .services_image_column:hover {
        border-color: #fb6f18; }
      .our_services ul .services_list .services_image_column h3 {
        margin-top: 15px;
        margin-bottom: 15px; }
        .our_services ul .services_list .services_image_column h3 a {
          font-weight: 700;
          color: #222222;
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0; }
          .our_services ul .services_list .services_image_column h3 a:hover {
            color: #fb6f18; }
      .our_services ul .services_list .services_image_column .services_image figure a {
        display: block;
        position: relative;
        text-align: center; }
        .our_services ul .services_list .services_image_column .services_image figure a img {
          height: 80px;
          margin-bottom: 10px; }
      .our_services ul .services_list .services_image_column .services_content_desc {
        margin-top: 0px;
        margin-bottom: 15px;
        height: 45px;
        overflow: hidden; }
      .our_services ul .services_list .services_image_column a.readmore {
        margin-top: 0px;
        margin-bottom: 15px; }

/*== Our Services Section Css Close ==*/
/*== Client Testimonial Css Open ==*/
.client_testimonial {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 0px;
  position: relative; }
  .client_testimonial .container {
    position: relative;
    z-index: 2; }
  .client_testimonial:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
    z-index: 1; }
  @media (max-width: 767px) {
    .client_testimonial {
      padding: 40px 0px; } }
  .client_testimonial .section-title-wrap h2 {
    color: #ffffff; }
    .client_testimonial .section-title-wrap h2 span.small {
      color: #f2f2f2; }
  .client_testimonial .client_testimonial_slider ul.owl-carousel {
    text-align: right; }
    @media (max-width: 579px) {
      .client_testimonial .client_testimonial_slider ul.owl-carousel {
        text-align: center; } }
    .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo {
      text-align: left; }
      .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-image figure {
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        margin: 0 auto;
        width: 90px; }
        .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-image figure img {
          display: block;
          width: 100%;
          opacity: 0; }
      .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-comma {
        margin: 10px 0px; }
        .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-comma img {
          height: 20px;
          display: inline-block; }
      .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info {
        overflow: visible;
        text-align: center; }
        .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info h4 {
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0;
          padding: 0;
          margin-top: 20px;
          font-weight: bold; }
          .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info h4:after {
            display: none; }
          .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info h4 span.small {
            margin-top: 5px;
            display: block;
            color: #ffffff; }
        .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info .kr-testimonial-desc {
          max-width: 760px;
          padding: 0 30px;
          margin: 0 auto;
          position: relative;
          font-size: 14px;
          line-height: 1.7; }
          .client_testimonial .client_testimonial_slider ul.owl-carousel li.our_clients_list .testimonialinfo .testimonial-info .kr-testimonial-desc p {
            margin: 0;
            color: #ffffff; }
    .client_testimonial .client_testimonial_slider ul.owl-carousel .owl-dots {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px; }
      .client_testimonial .client_testimonial_slider ul.owl-carousel .owl-dots .owl-dot {
        background: transparent;
        border: 1px solid #1778c5; }
        .client_testimonial .client_testimonial_slider ul.owl-carousel .owl-dots .owl-dot.active {
          background-color: #1778c5; }

/*== Client Testimonial Css Close ==*/
/*== Our Gallery Css Open ==*/
.our_gallery {
  padding: 50px 0px;
  background: #f2f2f2; }
  .our_gallery h2.section_title {
    color: #1778c5; }
    .our_gallery h2.section_title span {
      color: #fb6f18; }
  .our_gallery .section-title-wrap {
    padding-top: 50px; }
    .our_gallery .section-title-wrap .section-title h3 {
      color: #1778c5; }
  .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list {
    border: 1px solid #eaeaea; }
    .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure {
      position: relative; }
      .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure:hover a:after {
        background-color: rgba(23, 120, 197, 0.7);
        background-size: 50px; }
      .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure a {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9; }
        .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure a:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 11;
          background-image: url(../img/expand.svg);
          background-position: center center;
          background-size: 0;
          background-color: rgba(0, 0, 0, 0);
          background-repeat: no-repeat;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure a img {
          display: none; }
      .our_gallery .our_gallery_slider ul.owl-carousel li.our_gallery_list figure > img {
        opacity: 0;
        width: 100%; }
  .our_gallery .our_gallery_slider ul.owl-carousel .owl-dots {
    display: none; }

/*== Our Gallery Css Close ==*/
/*== Footer Css Open ==*/
body.home footer.main_footer {
  background: #1778c5; }

/*== Footer Contact Details Css Open ==*/
footer.main_footer {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  background: #265ab9; }
  footer.main_footer .footer_logo h1 {
    margin: 0;
    margin-bottom: 40px; }
    footer.main_footer .footer_logo h1 figure a {
      display: inline-block; }
      footer.main_footer .footer_logo h1 figure a img {
        height: 50px;
        display: inline-block; }
  footer.main_footer .contact_details .footer_widget {
    margin-bottom: 30px; }
    footer.main_footer .contact_details .footer_widget h3.footer_title {
      font-weight: 500;
      color: #fb6f18;
      margin-top: 0; }
    footer.main_footer .contact_details .footer_widget p {
      color: #ffffff; }
    footer.main_footer .contact_details .footer_widget ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer.main_footer .contact_details .footer_widget ul li {
        color: #ffffff; }
        footer.main_footer .contact_details .footer_widget ul li a {
          color: #ffffff;
          font-weight: 500;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          footer.main_footer .contact_details .footer_widget ul li a:hover {
            color: #fb6f18; }
    footer.main_footer .contact_details .footer_widget ul.social_icons {
      margin-top: 15px;
      display: inline-block;
      zoom: 1; }
      footer.main_footer .contact_details .footer_widget ul.social_icons:after, footer.main_footer .contact_details .footer_widget ul.social_icons:before {
        content: "";
        display: table; }
      footer.main_footer .contact_details .footer_widget ul.social_icons:after {
        clear: both; }
      footer.main_footer .contact_details .footer_widget ul.social_icons li {
        float: left; }
        footer.main_footer .contact_details .footer_widget ul.social_icons li:last-of-type a {
          margin-right: 0; }
        footer.main_footer .contact_details .footer_widget ul.social_icons li a {
          display: block;
          width: 40px;
          height: 40px;
          border: 1px solid #ffffff;
          border-radius: 100%;
          line-height: 38px;
          font-size: 24px;
          margin-right: 15px; }
          footer.main_footer .contact_details .footer_widget ul.social_icons li a:hover {
            color: #fb6f18;
            border-color: #fb6f18; }
  footer.main_footer .designed_copyright p {
    margin-bottom: 5px;
    color: #ffffff; }
    footer.main_footer .designed_copyright p a {
      color: #ffffff; }
      footer.main_footer .designed_copyright p a:hover {
        color: #fb6f18; }

/*== Footer Contact Details Css Close ==*/
/*== Footer Css Close ==*/
/* === Scroll To Top Custom Css Open === */
#toTop {
  display: block;
  line-height: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 7px 10px;
  color: #fff;
  background: #1778c5;
  z-index: 99; }

/* === Scroll To Top Custom Css Close === */
/* ===Innerpage_Breadcrumb_top Css Open === */
.page_banner_top {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .page_banner_top {
      margin-top: 0 !important; } }
  @media (max-width: 991px) {
    .page_banner_top {
      margin-top: 0 !important; } }
  .page_banner_top .page_banner_top_overlay {
    padding-top: 125px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.6); }
  .page_banner_top h4 {
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative; }
    .page_banner_top h4:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 2px;
      width: 50px;
      background: #fff;
      z-index: 9; }
  .page_banner_top .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0; }
    .page_banner_top .breadcrumb li {
      color: #fff; }
      .page_banner_top .breadcrumb li.active {
        text-transform: uppercase;
        font-weight: 500; }
        .page_banner_top .breadcrumb li.active:before {
          color: #fff; }
      .page_banner_top .breadcrumb li a {
        color: #fff; }
        .page_banner_top .breadcrumb li a:hover {
          color: #e02b44; }

/* ===Innerpage_breadcrumb Css Close === */
.innerpage {
  padding-top: 50px;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .innerpage {
      padding-top: 40px;
      padding-bottom: 10px; } }

/* ===Innerpage content page Css Open === */
.content_page .content_page_inner {
  padding: 15px;
  margin-bottom: 30px;
  background: #fafafa; }
  .content_page .content_page_inner img {
    max-width: 100%;
    margin-bottom: 10px; }

.innerpage_gallery .innerpage_gallery_inner {
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: #fafafa; }
  .innerpage_gallery .innerpage_gallery_inner ul {
    margin: 0;
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding: 0;
    list-style: none; }
    .innerpage_gallery .innerpage_gallery_inner ul li {
      float: left;
      width: 25%;
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-bottom: 15px; }
      @media (max-width: 991px) {
        .innerpage_gallery .innerpage_gallery_inner ul li {
          width: 33.33%; } }
      @media (max-width: 767px) {
        .innerpage_gallery .innerpage_gallery_inner ul li {
          width: 50%; } }
      @media (max-width: 450px) {
        .innerpage_gallery .innerpage_gallery_inner ul li {
          width: 100%; } }
      .innerpage_gallery .innerpage_gallery_inner ul li figure a {
        position: relative;
        display: block; }
        .innerpage_gallery .innerpage_gallery_inner ul li figure a:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 11;
          background-image: url(../img/expand.svg);
          background-position: center center;
          background-size: 0;
          background-color: rgba(0, 0, 0, 0);
          background-repeat: no-repeat;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        .innerpage_gallery .innerpage_gallery_inner ul li figure a img {
          width: 100%; }
      .innerpage_gallery .innerpage_gallery_inner ul li:hover a:after {
        background-color: rgba(0, 110, 173, 0.7);
        background-size: 50px; }

.blog_section_innerpage,
.abroad_studies_innerpage {
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: #fafafa; }

.blog_section_innerpage ul.row,
.abroad_studies_innerpage ul.row {
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .blog_section_innerpage ul.row li,
  .abroad_studies_innerpage ul.row li {
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px; }

.blog_section_innerpage li .blog_image_column {
  padding-bottom: 10px;
  background: #ffffff; }
  .blog_section_innerpage li .blog_image_column time, .blog_section_innerpage li .blog_image_column .blog_content_desc, .blog_section_innerpage li .blog_image_column .readmore_text {
    margin-left: 10px;
    margin-right: 10px; }

.why_us_innerpage .services_image {
  overflow: hidden; }
  .why_us_innerpage .services_image:hover figure {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  .why_us_innerpage .services_image figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .why_us_innerpage .services_image figure a {
      display: block; }
      .why_us_innerpage .services_image figure a img {
        width: 100%;
        opacity: 0; }
.why_us_innerpage .why_us_innerpage_inner {
  padding: 10px;
  margin-bottom: 30px;
  background: #fafafa; }
  .why_us_innerpage .why_us_innerpage_inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1; }
    .why_us_innerpage .why_us_innerpage_inner ul:after, .why_us_innerpage .why_us_innerpage_inner ul:before {
      content: "";
      display: table; }
    .why_us_innerpage .why_us_innerpage_inner ul:after {
      clear: both; }
    .why_us_innerpage .why_us_innerpage_inner ul li {
      width: 50%;
      padding: 7.5px;
      float: left; }
      @media (max-width: 767px) {
        .why_us_innerpage .why_us_innerpage_inner ul li {
          width: 100%; } }
      .why_us_innerpage .why_us_innerpage_inner ul li .whywrap {
        position: relative; }
        .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box {
          display: block;
          position: relative;
          text-align: center;
          background: #fafafa;
          padding: 20px 10px 20px 10px;
          border: 1px solid #eaeaea;
          z-index: 0;
          color: #444444; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:before, .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border: 1px solid transparent;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:before {
            border-left-color: #1778c5;
            border-right-color: #1778c5;
            -webkit-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0); }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:after {
            border-top-color: #1778c5;
            border-bottom-color: #1778c5;
            -webkit-transform: scale(0, 1);
            -moz-transform: scale(0, 1);
            -o-transform: scale(0, 1);
            transform: scale(0, 1); }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:hover {
            color: #444444; }
            .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:hover:after, .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:hover:before {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1); }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-icon {
            font-size: 52px;
            color: #1778c5; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-vertical-line {
            line-height: 1; }
            .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-vertical-line:before {
              content: "-";
              font-size: 25px;
              color: #1778c5; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-id {
            position: absolute;
            font-size: 20px;
            color: #e0dede;
            left: 10px;
            top: -20px;
            background-color: #fafafa;
            border: 1px solid #eaeaea;
            padding: 5px;
            z-index: 9;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box:hover .item-id {
            color: #1778c5;
            border-color: #1778c5; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #333; }
          .why_us_innerpage .why_us_innerpage_inner ul li .whywrap .item-box .item-text {
            font-size: 14px;
            line-height: 24px; }

.our_team_innerpage .our_team_innerpage_inner {
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: #fafafa; }
  .our_team_innerpage .our_team_innerpage_inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -7.5px;
    margin-right: -7.5px;
    zoom: 1; }
    .our_team_innerpage .our_team_innerpage_inner ul:after, .our_team_innerpage .our_team_innerpage_inner ul:before {
      content: "";
      display: table; }
    .our_team_innerpage .our_team_innerpage_inner ul:after {
      clear: both; }
    .our_team_innerpage .our_team_innerpage_inner ul li {
      width: 33.33%;
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-bottom: 15px;
      float: left; }
      @media (max-width: 991px) {
        .our_team_innerpage .our_team_innerpage_inner ul li {
          width: 50%; } }
      @media (max-width: 500px) {
        .our_team_innerpage .our_team_innerpage_inner ul li {
          width: 100%; } }
      .our_team_innerpage .our_team_innerpage_inner ul li figure {
        text-align: center;
        background: #ffffff;
        padding: 10px; }
        .our_team_innerpage .our_team_innerpage_inner ul li figure > div {
          margin: 0 auto;
          background-size: cover;
          background-position: top center;
          background-repeat: no-repeat;
          bisplay: block;
          max-width: 150px;
          border-radius: 100%;
          overflow: hidden; }
          .our_team_innerpage .our_team_innerpage_inner ul li figure > div img {
            width: 100%;
            opacity: 0; }
        .our_team_innerpage .our_team_innerpage_inner ul li figure figcaption {
          margin-top: 30px; }
          .our_team_innerpage .our_team_innerpage_inner ul li figure figcaption strong {
            margin-bottom: 20px;
            display: block; }
          .our_team_innerpage .our_team_innerpage_inner ul li figure figcaption p {
            margin-bottom: 0;
            font-style: italic; }

.our_client_innerpage .our_client_innerpage_inner {
  padding: 30px;
  margin-bottom: 30px;
  background: #fafafa; }
  .our_client_innerpage .our_client_innerpage_inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1; }
    .our_client_innerpage .our_client_innerpage_inner ul:after, .our_client_innerpage .our_client_innerpage_inner ul:before {
      content: "";
      display: table; }
    .our_client_innerpage .our_client_innerpage_inner ul:after {
      clear: both; }
    .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list {
      width: 20%;
      float: left; }
      @media (max-width: 991px) {
        .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list {
          width: 33.33%; } }
      @media (max-width: 767px) {
        .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list {
          width: 50%; } }
      @media (max-width: 500px) {
        .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list {
          width: 100%; } }
      .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list figure {
        position: relative;
        border: 1px solid #eaeaea; }
        .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list figure > img {
          width: 100%;
          opacity: 0; }
        .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list figure a {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: #ffffff;
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          z-index: 9;
          overflow: hidden;
          transform: translate(-50%, -50%);
          -webikit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%); }
          .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list figure a:hover img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1); }
          .our_client_innerpage .our_client_innerpage_inner ul li.our_clients_list figure a img {
            max-height: 70px;
            max-width: 140px;
            width: auto;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }

.our_services_innerpage .our_services_list {
  padding: 30px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: #fafafa; }
  .our_services_innerpage .our_services_list ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
    .our_services_innerpage .our_services_list ul li {
      margin-bottom: 30px; }
      .our_services_innerpage .our_services_list ul li a {
        position: relative;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: #ffffff; }
        .our_services_innerpage .our_services_list ul li a span {
          padding: 10px 30px;
          font-weight: 700;
          color: #444444;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          @media (min-width: 501px) {
            .our_services_innerpage .our_services_list ul li a span {
              position: absolute;
              top: 50%;
              left: 50%;
              z-index: 99;
              display: inline-block;
              max-width: 90%;
              transform: translate(-50%, -50%);
              -webikit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              background: rgba(255, 255, 255, 0.8); } }
          @media (max-width: 500px) {
            .our_services_innerpage .our_services_list ul li a span {
              display: block;
              background: #1778c5;
              color: #ffffff; } }
        .our_services_innerpage .our_services_list ul li a img {
          width: 100%;
          opacity: 0;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        .our_services_innerpage .our_services_list ul li a:hover img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
        .our_services_innerpage .our_services_list ul li a:hover span {
          background: #1778c5;
          color: #ffffff; }

/* ===Innerpage content page Css Close === */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1; }

/*== Our University Partner Section Css Open ==*/
.our_university {
  padding: 40px 0px; }

.our_university .section_title_wrapper {
  padding: 0;
  margin-bottom: 30px; }

#carousel div {
  text-align: center;
  width: 140px;
  height: 86px;
  padding: 0 20px;
  float: left;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#carousel div a {
  display: block; }

#carousel div img {
  max-width: 100%;
  max-height: 86px; }

/*== Our University Partner Section Css Close ==*/
/*== Youtube VIdeo Gallery Css Open ==*/
.youtube_video {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
  padding: 60px 0px; }
  .youtube_video .youtube_video_heading h2 {
    color: #ffffff;
    text-align: left; }
  .youtube_video .youtube_video_heading h4 {
    color: #ffffff;
    margin: 0; }
    .youtube_video .youtube_video_heading h4.section_title_desc:before {
      background: #fb6f18;
      transform: translate(0, 0);
      -webikit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      left: 0; }
    .youtube_video .youtube_video_heading h4 span {
      display: block;
      font-weight: 500;
      font-size: 24px; }
  @media (max-width: 767px) {
    .youtube_video .youtube_video_player {
      margin-top: 30px; } }
  .youtube_video .youtube_video_player .owl-carousel {
    text-align: center; }
    .youtube_video .youtube_video_player .owl-carousel .owl-dots {
      margin: 0;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      -webikit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      z-index: 9;
      zoom: 1; }
      .youtube_video .youtube_video_player .owl-carousel .owl-dots:after, .youtube_video .youtube_video_player .owl-carousel .owl-dots:before {
        content: "";
        display: table; }
      .youtube_video .youtube_video_player .owl-carousel .owl-dots:after {
        clear: both; }
      .youtube_video .youtube_video_player .owl-carousel .owl-dots .owl-dot.active, .youtube_video .youtube_video_player .owl-carousel .owl-dots .owl-dot:hover {
        background: #fb6f18; }
  .youtube_video .youtube_video_player a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .youtube_video .youtube_video_player a:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/play-btn-active.svg);
      background-size: 10%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .youtube_video .youtube_video_player a:hover:before {
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url(../img/play-btn.svg); }
    .youtube_video .youtube_video_player a img {
      width: 100%;
      opacity: 0; }

/*== Youtube VIdeo Gallery Css Close ==*/
/* === Locate Us Custom Css open === */
.locate_us {
  background-image: url(../img/locate-us-bg.jpg);
  padding-bottom: 30px; }

.locate_us .header_line:after {
  background: #fff; }

.feedback_form,
.locate_us .locate_us_content {
  margin-bottom: 30px;
  padding: 15px 20px;
  border: 1px solid #cccccc; }

.locate_us_content header {
  font-weight: 600; }

/* === Locate Us Custom Css Close === */
.form-control {
  border-radius: 0;
  height: 40px; }

/*# sourceMappingURL=style.css.map */
